prospecting-b2b/Disparo de e-mail/GW Disparo #Email 4 - Oficial.json
{
  "name": "GW Disparo #Email 4 - Oficial",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6-59/10 8-18 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1680,
        640
      ],
      "id": "6a48f5bb-0e89-413a-9215-a3c0f67d4173",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1o4uaqXnOxFfS8dBmEtQwVlQFrKpFeZ_z0RWWIxOiuGU",
          "mode": "list",
          "cachedResultName": "Lista de Leads - Groudwork",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o4uaqXnOxFfS8dBmEtQwVlQFrKpFeZ_z0RWWIxOiuGU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o4uaqXnOxFfS8dBmEtQwVlQFrKpFeZ_z0RWWIxOiuGU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Quarto Disparo"
            },
            {
              "lookupColumn": "Respondeu"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1488,
        640
      ],
      "id": "3def7c58-7ad1-4ec6-bde0-c2a87edb0534",
      "name": "Buscador de Contatos",
      "credentials": {
        "googleApi": {
          "id": "WFfYbnxXdjAidNDj",
          "name": "Google Sheets account - Service Account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um redator de outbound da GroundWork, empresa de tecnologia e inovação especializada em integrações, automações e melhorias no ecossistema ERP TOTVS (Protheus/RM, etc.).\n\nEscreva em PT-BR, com tom extremamente humanizado, leve e profissional. Parágrafos curtos. Sem emojis, sem jargão excessivo, sem “espero que este e-mail o encontre bem”.\n\nEntradas (variáveis do fluxo):\n\n{{ $json['Primeiro nome'] }}\n\n{{ $json.email }}\n\n{{ $json['Cargo/Posição'] }} (pode vir vazio)\n\nRegras obrigatórias\n\nSempre use o {{ $json['Primeiro nome'] }} do contato na saudação.\n\n- Sempre que possivel utilize as variavéis abaixo:\n{{ $json.empresa }}\n{{ $json['Cargo/Posição'] }}\n\nFormato de saída:\n{\n  \"email4\": {\n    \"subject\": \"TÍTULO CURTO E NATURAL\",\n    \"body\": \"CORPO DO E-MAIL COM PARAGRAFOSe no final: Atenciosamente, \nLarissa Souza\nBusiness Specialist\"\n  }\n}\n\n#IMPORTANTE lembre-se que você está mandando um email diretamente para o cliente ! então NUNCA coloque \"[Seu Nome]\" \"[Nome do Destinatário]\", nem nada do tipo no corpo do e-mail.",
              "role": "system"
            },
            {
              "content": "=## Email #4 \n\nModelo de Email de Referencia:\nAssunto: {{ $json['Primeiro nome'] }} ERP PROTHEUS TOTVS®: 10 pontos que você pode estar passando despercebido ✅\n\n\"Para ajudar a {{ $json.empresa }} a manter o ERP Protheus TOTVS® estável e eficiente, preparamos um checklist rápido com 10 itens essenciais: \n\n1. Performance do sistema \n2. Atualizações e patches \n3. Integridade dos dados \n4. Backups regulares \n5. Controle de usuários e permissões \n6. Relatórios críticos funcionando \n7. Integrações externas \n8. Monitoramento de erros e logs \n9. Auditorias e conformidade \n10. Treinamento e suporte aos usuários \n\nRevise esses pontos e descubra o que pode estar impactando seu ERP.\n\nSe quiser, podemos marcar uma call rápida de 15-20 minutos para revisar juntos o checklist e identificar oportunidades específicas para a {{ $json.empresa }}. \n\nAbraço,\"\n\nSempre finalize com:\n\"Atenciosamente, \nLarissa Souza\nBusiness Specialist\"\n\nRegras gerais para todos os e-mails:\n\n- Tom consultivo, respeitoso e direto\n- Sem suposições sobre processos internos da empresa\n- Nada de termos como “tecnologia de ponta”, “solução completa” ou “transformador”\n- Nunca use “Topa”, “Espero que esteja bem” ou “Vi que estão crescendo”\n- Comece com: Olá {{ $json['Primeiro nome'] }}\n- Use escreva com paragrafos para o texto não ficar longo\n- Caso {{ $json.empresa }}, esteja vazio, NÃO utilize.\n- Sempre que possivel utilize as variavéis abaixo:\n{{ $json.empresa }} (caso não tenha, remova do email)\n{{ $json['Cargo/Posição'] }}\n\n---\n\nFormato de saída:\n\n{\n  \"email4\": {\n    \"subject\": \"TÍTULO CURTO E NATURAL\",\n    \"body\": \"CORPO DO E-MAIL COM PARAGRAFOSe no final: Atenciosamente, \nLarissa Souza\nBusiness Specialist\"\n  }\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -624,
        624
      ],
      "id": "39f4458b-ce29-45d6-b86c-b96a38610766",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "pzPRokyHPpD8qyJ1",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2c6514b-d00a-4a10-adfa-c44f2adceb8e",
              "name": "assunto",
              "value": "={{ $json.message.content.email4.subject }}",
              "type": "string"
            },
            {
              "id": "e223a8af-2e42-4761-abcb-8d89013454e0",
              "name": "corpo",
              "value": "={{ $json.message.content.email4.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        624
      ],
      "id": "54c887af-ec9d-4a9f-ab61-dbef3f966b39",
      "name": "Higienizador de Dados 2"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1o4uaqXnOxFfS8dBmEtQwVlQFrKpFeZ_z0RWWIxOiuGU",
          "mode": "list",
          "cachedResultName": "Lista de Leads - Groudwork",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o4uaqXnOxFfS8dBmEtQwVlQFrKpFeZ_z0RWWIxOiuGU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o4uaqXnOxFfS8dBmEtQwVlQFrKpFeZ_z0RWWIxOiuGU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Edit Fields').item.json.email }}",
            "Quarto Disparo": "={{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy') }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome completo",
              "displayName": "Nome completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primeiro nome",
              "displayName": "Primeiro nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Segundo/ultimo nome",
              "displayName": "Segundo/ultimo nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cargo/Posição",
              "displayName": "Cargo/Posição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primeiro Disparo",
              "displayName": "Primeiro Disparo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Segundo Disparo",
              "displayName": "Segundo Disparo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Terceiro Disparo",
              "displayName": "Terceiro Disparo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Quarto Disparo",
              "displayName": "Quarto Disparo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quinto Disparo",
              "displayName": "Quinto Disparo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sexto Disparo",
              "displayName": "Sexto Disparo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        352,
        624
      ],
      "id": "e5453847-51e2-40c2-88a6-e5cf8c91da2b",
      "name": "Atualizador de Disparo",
      "credentials": {
        "googleApi": {
          "id": "WFfYbnxXdjAidNDj",
          "name": "Google Sheets account - Service Account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Edit Fields').item.json.email }}",
        "subject": "={{ $json.assunto }}",
        "bodyContent": "={{ $json.corpo }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        144,
        624
      ],
      "id": "4f7bed2e-2168-4073-acf6-545648bc7de8",
      "name": "Disparo do Email",
      "webhookId": "ee079d23-8a84-4c1e-b43a-68eabd3999ac",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "cTmzloiCrY0J1X73",
          "name": "Credencial Groudwork"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7dc577a6-4be5-42fc-9087-1ad693452c10",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "55a9818e-bdbc-4885-9a34-02151fa3ad9e",
              "name": "Nome completo",
              "value": "={{ $json['Nome completo'] }}",
              "type": "string"
            },
            {
              "id": "ef718a4e-8424-4eb5-a32d-88c4516084e7",
              "name": "Primeiro nome",
              "value": "={{ $json['Primeiro nome'] }}",
              "type": "string"
            },
            {
              "id": "6b9aac63-c82d-4def-90e4-1c25950cebdc",
              "name": "Segundo/ultimo nome",
              "value": "={{ $json['Segundo/ultimo nome'] }}",
              "type": "string"
            },
            {
              "id": "db7fc275-71a8-4465-a2e2-117b19077da6",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "3858edcb-e06f-428a-85ef-04a5a653c721",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "5694adcd-a142-4ed0-9046-72365a29f1da",
              "name": "empresa",
              "value": "={{ $json.empresa }}",
              "type": "string"
            },
            {
              "id": "50b5fec6-6bb1-4acd-bdd9-d9acf9b5a6d5",
              "name": "Cargo/Posição",
              "value": "={{ $json['Cargo/Posição'] }}",
              "type": "string"
            },
            {
              "id": "00693426-02c0-4ff9-891f-e38be2aa6df6",
              "name": "Linkedin",
              "value": "={{ $json.Linkedin }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        624
      ],
      "id": "13a7aa2c-c84e-4b75-a5d9-4ab610d8cf58",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "update",
        "personId": "={{ $('Edit Fields').item.json.id }}",
        "updateFields": {
          "customProperties": {
            "property": [
              {
                "name": "f6d5d132e85d511d968d5c26b35c092a5a472d36",
                "value": "4º Disparo"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        560,
        624
      ],
      "id": "5cfc7f73-06bf-4934-82c9-5d566726c9a7",
      "name": "Update a person",
      "credentials": {
        "pipedriveApi": {
          "id": "nctJHdCz6FAP5I2P",
          "name": "Pipedrive account - Groundwork"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6d0e5164-14b7-4482-8e68-e1a136420b0b",
              "leftValue": "={{ $json['Terceiro Disparo']\n  ? DateTime.fromFormat($json['Terceiro Disparo'], 'dd/MM/yyyy').toISODate()\n  : null }}",
              "rightValue": "={{ $now.minus({ days: 5 }).toISODate() }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1280,
        640
      ],
      "id": "1912c128-b5d1-4b45-aec5-ff8a6ad4990f",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1056,
        800
      ],
      "id": "f417c4fa-d042-4a9c-a39e-0acc75b63d4f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -848,
        624
      ],
      "id": "fb23ea1f-ca69-4d8a-8d21-2780b7aafa27",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// GateOne: só passa se houver exatamente 1 item\nconst count = items.length;\nif (count === 1) {\n  return items;                 // segue para o próximo nó\n}\nthrow new Error(`Esperado 1 item, recebi ${count}. Abortando.`);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        624
      ],
      "id": "d4fa31c0-0533-44a5-bb4f-17a217a0de4a",
      "name": "Só passa um item"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscador de Contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscador de Contatos": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Higienizador de Dados 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Higienizador de Dados 2": {
      "main": [
        [
          {
            "node": "Só passa um item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparo do Email": {
      "main": [
        [
          {
            "node": "Atualizador de Disparo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizador de Disparo": {
      "main": [
        [
          {
            "node": "Update a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Só passa um item": {
      "main": [
        [
          {
            "node": "Disparo do Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1eec552-456c-4c2c-bf6f-4ebdb25b30d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98a7f76cbff973591af08e09b5be2fed14b55b37d878782c0638229a94477203"
  },
  "id": "sXWUnlpfLQttXW3N",
  "tags": []
}