prospecting-b2b/Disparo de e-mail/GW Disparo #Email 3 - Oficial.json
{
  "name": "GW Disparo #Email 3 - Oficial",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4-59/10 8-18 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1680,
        640
      ],
      "id": "8bc27b23-e19d-4edb-afc6-1951e3da54f9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1o4uaqXnOxFfS8dBmEtQwVlQFrKpFeZ_z0RWWIxOiuGU",
          "mode": "list",
          "cachedResultName": "Lista de Leads - Groudwork",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o4uaqXnOxFfS8dBmEtQwVlQFrKpFeZ_z0RWWIxOiuGU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o4uaqXnOxFfS8dBmEtQwVlQFrKpFeZ_z0RWWIxOiuGU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Terceiro Disparo"
            },
            {
              "lookupColumn": "Respondeu"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1488,
        640
      ],
      "id": "2a496ef4-ded7-4370-9ef0-146140a18767",
      "name": "Buscador de Contatos",
      "credentials": {
        "googleApi": {
          "id": "WFfYbnxXdjAidNDj",
          "name": "Google Sheets account - Service Account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Você é um redator de outbound da GroundWork, empresa de tecnologia e inovação especializada em integrações, automações e melhorias no ecossistema ERP TOTVS (Protheus/RM, etc.).\n\nEscreva em PT-BR, com tom extremamente humanizado, leve e profissional. Parágrafos curtos. Sem emojis, sem jargão excessivo, sem “espero que este e-mail o encontre bem”.\n\nEntradas (variáveis do fluxo):\n\n{{ $json['Primeiro nome'] }}\n\n{{ $json.email }}\n\n{{ $json['Cargo/Posição'] }} (pode vir vazio)\n\nRegras obrigatórias\n\nSempre use o {{ $json['Primeiro nome'] }} do contato na saudação.\n\n- Sempre que possivel utilize as variavéis abaixo:\n{{ $json.empresa }}\n{{ $json['Cargo/Posição'] }}\n\nFormato de saída:\n{\n  \"email3\": {\n    \"subject\": \"TÍTULO CURTO E NATURAL\",\n    \"body\": \"CORPO DO E-MAIL COM PARAGRAFOSe no final: Atenciosamente, \nLarissa Souza\nBusiness Specialist\"\n  }\n}\n\n\n#IMPORTANTE lembre-se que você está mandando um email diretamente para o cliente ! então NUNCA coloque \"[Seu Nome]\" \"[Nome do Destinatário]\", nem nada do tipo no corpo do e-mail.",
              "role": "system"
            },
            {
              "content": "=## Email #3 \n\nModelo de Email de Referencia:\nAssunto: {{ $json['Primeiro nome'] }} te mandei e-mail essa semana, mas ainda estou sem resposta\n\n\"Olá {{ $json['Primeiro nome'] }}, tudo bem?\n\nTe mandei um e-mail esta semana sobre a pré-avaliação do seu ERP Protheus TOTVS®, mas ainda não tive resposta. \n\nEssa pré-avaliação é rápida e prática: você responde algumas perguntas sobre o ambiente da {{ $json.empresa }} e recebe uma resposta clara do seu ERP, nós ajudamos a identificar oportunidades de melhoria e riscos que podem estar impactando sua operação com SSG.\n\nUm de nossos clientes, ao adotar o SSG – Serviço de Sustentação da Groundwork, conseguiu reduzir 40% dos chamados recorrentes, ganhar mais controle do ambiente e passar a receber serviços estratégicos pelo que realmente contratam.\n\nO SSG é o nosso modelo estruturado de entrega de serviços, que vai além do suporte tradicional. Ele garante continuidade, evolução e governança no ERP Protheus TOTVS®, mantendo o ambiente estável, seguro e estratégico, com uma abordagem proativa e orientada a resultados.\n\nSe quiser, podemos marcar uma call rápida de 20 minutos para mostrar como aplicar o mesmo modelo na {{ $json.empresa }}.\n\nSe não for com você, poderia indicar a pessoa responsável? Caso não queira receber, basta responder remover.\nAbraço,\"\n\nSempre finalize com:\n\"Atenciosamente, \nLarissa Souza\nBusiness Specialist\"\n\nRegras gerais para todos os e-mails:\n\n- Tom consultivo, respeitoso e direto\n- Sem suposições sobre processos internos da empresa\n- Nada de termos como “tecnologia de ponta”, “solução completa” ou “transformador”\n- Nunca use “Topa”, “Espero que esteja bem” ou “Vi que estão crescendo”\n- Comece com: Olá {{ $json['Primeiro nome'] }}\n- Use escreva com paragrafos para o texto não ficar longo\n- Caso {{ $json.empresa }}, esteja vazio, NÃO utilize.\n- Sempre que possivel utilize as variavéis abaixo:\n{{ $json.empresa }} (caso não tenha, remova do email)\n{{ $json['Cargo/Posição'] }}\n\n---\n\nFormato de saída:\n\n{\n  \"email3\": {\n    \"subject\": \"TÍTULO CURTO E NATURAL\",\n    \"body\": \"CORPO DO E-MAIL COM PARAGRAFOSe no final: Atenciosamente, \nLarissa Souza\nBusiness Specialist\"\n  }\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.7
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -624,
        624
      ],
      "id": "c8ce6466-edd0-47ce-8949-a5644308babd",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "pzPRokyHPpD8qyJ1",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f2c6514b-d00a-4a10-adfa-c44f2adceb8e",
              "name": "assunto",
              "value": "={{ $json.message.content.email3.subject }}",
              "type": "string"
            },
            {
              "id": "e223a8af-2e42-4761-abcb-8d89013454e0",
              "name": "corpo",
              "value": "={{ $json.message.content.email3.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        624
      ],
      "id": "90a2c27c-80b5-4bb0-897e-55d7f17cc831",
      "name": "Higienizador de Dados 2"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1o4uaqXnOxFfS8dBmEtQwVlQFrKpFeZ_z0RWWIxOiuGU",
          "mode": "list",
          "cachedResultName": "Lista de Leads - Groudwork",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o4uaqXnOxFfS8dBmEtQwVlQFrKpFeZ_z0RWWIxOiuGU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1o4uaqXnOxFfS8dBmEtQwVlQFrKpFeZ_z0RWWIxOiuGU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $('Edit Fields').item.json.email }}",
            "Terceiro Disparo": "={{ $now.setZone('America/Sao_Paulo').toFormat('dd/MM/yyyy') }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nome completo",
              "displayName": "Nome completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primeiro nome",
              "displayName": "Primeiro nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Segundo/ultimo nome",
              "displayName": "Segundo/ultimo nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "empresa",
              "displayName": "empresa",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Cargo/Posição",
              "displayName": "Cargo/Posição",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Linkedin",
              "displayName": "Linkedin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Primeiro Disparo",
              "displayName": "Primeiro Disparo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Segundo Disparo",
              "displayName": "Segundo Disparo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Terceiro Disparo",
              "displayName": "Terceiro Disparo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Quarto Disparo",
              "displayName": "Quarto Disparo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Quinto Disparo",
              "displayName": "Quinto Disparo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sexto Disparo",
              "displayName": "Sexto Disparo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        416,
        624
      ],
      "id": "1ef12c3b-8d3f-4ec2-980a-5a8ed492eb07",
      "name": "Atualizador de Disparo",
      "credentials": {
        "googleApi": {
          "id": "WFfYbnxXdjAidNDj",
          "name": "Google Sheets account - Service Account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Edit Fields').item.json.email }}",
        "subject": "={{ $json.assunto }}",
        "bodyContent": "={{ $json.corpo }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        208,
        624
      ],
      "id": "aa8167c0-ca87-4652-97ca-4b789faf657c",
      "name": "Disparo do Email",
      "webhookId": "b6b3fd81-3795-4695-9cc5-fe413311ff66",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "cTmzloiCrY0J1X73",
          "name": "Credencial Groudwork"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7dc577a6-4be5-42fc-9087-1ad693452c10",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "55a9818e-bdbc-4885-9a34-02151fa3ad9e",
              "name": "Nome completo",
              "value": "={{ $json['Nome completo'] }}",
              "type": "string"
            },
            {
              "id": "ef718a4e-8424-4eb5-a32d-88c4516084e7",
              "name": "Primeiro nome",
              "value": "={{ $json['Primeiro nome'] }}",
              "type": "string"
            },
            {
              "id": "6b9aac63-c82d-4def-90e4-1c25950cebdc",
              "name": "Segundo/ultimo nome",
              "value": "={{ $json['Segundo/ultimo nome'] }}",
              "type": "string"
            },
            {
              "id": "db7fc275-71a8-4465-a2e2-117b19077da6",
              "name": "email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "3858edcb-e06f-428a-85ef-04a5a653c721",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "5694adcd-a142-4ed0-9046-72365a29f1da",
              "name": "empresa",
              "value": "={{ $json.empresa }}",
              "type": "string"
            },
            {
              "id": "50b5fec6-6bb1-4acd-bdd9-d9acf9b5a6d5",
              "name": "Cargo/Posição",
              "value": "={{ $json['Cargo/Posição'] }}",
              "type": "string"
            },
            {
              "id": "00693426-02c0-4ff9-891f-e38be2aa6df6",
              "name": "Linkedin",
              "value": "={{ $json.Linkedin }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1056,
        624
      ],
      "id": "701109e9-f7c8-4520-b25c-b68abe580870",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "update",
        "personId": "={{ $('Edit Fields').item.json.id }}",
        "updateFields": {
          "customProperties": {
            "property": [
              {
                "name": "f6d5d132e85d511d968d5c26b35c092a5a472d36",
                "value": "3º Disparo"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        624,
        624
      ],
      "id": "3c84ae96-874b-471a-9c47-ba5724062c27",
      "name": "Update a person",
      "credentials": {
        "pipedriveApi": {
          "id": "nctJHdCz6FAP5I2P",
          "name": "Pipedrive account - Groundwork"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6d0e5164-14b7-4482-8e68-e1a136420b0b",
              "leftValue": "={{ $json['Segundo Disparo']\n  ? DateTime.fromFormat($json['Segundo Disparo'], 'dd/MM/yyyy').toISODate()\n  : null }}",
              "rightValue": "={{ $now.minus({ days: 4 }).toISODate() }}",
              "operator": {
                "type": "dateTime",
                "operation": "beforeOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1280,
        640
      ],
      "id": "bc635990-a5ce-4167-aa6b-6cd96a08c153",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1056,
        800
      ],
      "id": "118356b9-ed1b-4ab8-ab3c-bd71dcd9edb4",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -848,
        624
      ],
      "id": "ac340fec-8f78-401f-a530-8acd28b2940e",
      "name": "Limit"
    },
    {
      "parameters": {
        "jsCode": "// GateOne: só passa se houver exatamente 1 item\nconst count = items.length;\nif (count === 1) {\n  return items;                 // segue para o próximo nó\n}\nthrow new Error(`Esperado 1 item, recebi ${count}. Abortando.`);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        624
      ],
      "id": "1a9b64a9-8746-4ad3-9b7b-277f02b3479a",
      "name": "Só passa um item"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Buscador de Contatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscador de Contatos": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Higienizador de Dados 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Higienizador de Dados 2": {
      "main": [
        [
          {
            "node": "Só passa um item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Disparo do Email": {
      "main": [
        [
          {
            "node": "Atualizador de Disparo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizador de Disparo": {
      "main": [
        [
          {
            "node": "Update a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Só passa um item": {
      "main": [
        [
          {
            "node": "Disparo do Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "92854998-8aa5-40c8-b32a-195c70534b2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98a7f76cbff973591af08e09b5be2fed14b55b37d878782c0638229a94477203"
  },
  "id": "GUfW2sYKFigPNoNb",
  "tags": []
}