content-creator/Geração de video com heygen.json
{
  "name": "Geração de video com heygen",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://automaster1243.uazapi.com/message/download",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $json.message.instance_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.message.id_message }}"
            },
            {
              "name": "openai_apikey"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5200,
        1312
      ],
      "id": "92a87273-a883-4621-9d58-133359a29433",
      "name": "Receptor de link audio1"
    },
    {
      "parameters": {
        "url": "={{ $json.fileURL }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5408,
        1312
      ],
      "id": "5f5a46e8-6ec3-4bf9-8fd0-bfc1dac11b3e",
      "name": "Enviar audio p/ transcritor1"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        5584,
        1312
      ],
      "id": "20972108-8ec3-43c6-bff2-a0d3c742504f",
      "name": "Transcritor audio1",
      "credentials": {
        "openAiApi": {
          "id": "hp20YrXDC79bZv6x",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "00803c57-a972-46ab-998f-ac34b17eeff2",
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "Conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9260478d-e57f-427b-8e50-f8ff1ca07f6f",
                    "leftValue": "={{ $json.message.type }}",
                    "rightValue": "AudioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4944,
        1104
      ],
      "id": "d27d7b92-e5d3-41fc-9f36-e7429630aff4",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "Organizando as variaveis",
        "height": 200,
        "width": 170,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4672,
        1040
      ],
      "typeVersion": 1,
      "id": "8b7ce4c2-e396-430d-b96b-3605fae6af84",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d1ec2b3-a76d-449b-a7df-0268fec70485",
              "name": "message.name",
              "value": "={{ $json.body.message.senderName }}",
              "type": "string"
            },
            {
              "id": "d51052b1-70ee-468e-9337-f45a3a1372b7",
              "name": "message.id_message",
              "value": "={{ $json.body.message.messageid }}",
              "type": "string"
            },
            {
              "id": "65480d71-36a6-4798-b2de-9b5f724e79c4",
              "name": "=message.content",
              "value": "={{ $json.body.message.text }}",
              "type": "string"
            },
            {
              "id": "44a44492-0e27-41a7-a26b-c230d91d8640",
              "name": "message.sender",
              "value": "={{ $json.body.message.sender }}",
              "type": "string"
            },
            {
              "id": "082ebc12-1862-4882-a816-2583e8af234b",
              "name": "message.type",
              "value": "={{ $json.body.message.messageType }}",
              "type": "string"
            },
            {
              "id": "a49cd623-ab31-4f3e-be3c-8f7a556dbb8b",
              "name": "message.from_me",
              "value": "={{ $json.body.message.fromMe }}",
              "type": "string"
            },
            {
              "id": "8957e64e-7b38-4e45-bd70-39ecd69e6cd5",
              "name": "message.instance_token",
              "value": "={{ $json.body.token }}",
              "type": "string"
            },
            {
              "id": "0018eecd-fb52-48d5-850b-247f0fc4f1e7",
              "name": "message.timestamp",
              "value": "={{ $json.body.message.messageTimestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4704,
        1104
      ],
      "id": "01516d9c-dfbc-461e-b914-dc589bf70d6b",
      "name": "Variáveis1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "messages": {
          "values": [
            {
              "content": "Faça roteiros novo ou melhore o texto que te foi passado apenas com as falas, sem a indicação de cortes, cenários ou mudanças de cenas ou musicas, para serem criados vídeos com o avatar da pessoa no heygen. \n\nNUNCA COLOQUE indicação de cortes, cenários ou mudanças de cenas ou musicas, APENAS COLOQUE A FALA POR ESCRITO PARA SER O AVATAR FALANDO EM PRIMEIRA PESSOA\n\nVocê é um roteirista de vídeos curtos para politicos e especialista em fazer vídeos virais e com ganchos no começo do vídeo para prenderem mais a atenção das pessoas. Esses o roteiro tem que passar confiança, credibilidade e ao mesmo tempo serem leves. O vídeo pode ter nomáximo 1 minuto, então seja envolvente, use frases curtas e seja direto.",
              "role": "system"
            },
            {
              "content": "={{ $('Edit Fields1').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        6784,
        1088
      ],
      "id": "e6175093-bb27-49d9-b686-aea46db7c22f",
      "name": "Message a model1",
      "credentials": {
        "openAiApi": {
          "id": "hp20YrXDC79bZv6x",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v2/video/generate",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "x-api-key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"video_inputs\": [\n    {\n      \"character\": {\n        \"type\": \"avatar\",\n        \"avatar_id\": \"{{ $('Code2').item.json.formatted_avatar_id }}\",\n        \"avatar_style\": \"normal\"\n      },\n      \"voice\": {\n        \"type\": \"text\",\n        \"input_text\": \"{{ $('Code1').item.json.formatted_text }}\",\n        \"voice_id\": \"{{ $('Code2').item.json.formatted_voice_id }}\",\n        \"speed\": 1.25\n      }\n    }\n  ],\n  \"dimension\": {\n    \"width\": 1280,\n    \"height\": 720\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7552,
        1088
      ],
      "id": "9a1063c4-ccbd-4112-b8fa-9a4aee9fdc89",
      "name": "Gerar vídeos"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v2/avatars",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "NjQ3ZmM1MTJlZmM1NDI0YWI2OGI5ZGZlZWMzYTQ5NzMtMTc0OTE0ODIxOA=="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7504,
        1520
      ],
      "id": "5b5d2033-7f61-4fdd-85c6-b09a3d797b77",
      "name": "Get Avatars"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v2/voices",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "NjQ3ZmM1MTJlZmM1NDI0YWI2OGI5ZGZlZWMzYTQ5NzMtMTc0OTE0ODIxOA=="
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        7712,
        1520
      ],
      "id": "7b315bc7-0080-49bb-8842-16c7615bc8d8",
      "name": "Pegar Vozes"
    },
    {
      "parameters": {
        "jsCode": "const rawText = $json.message.content || '';\n\nconst cleanText = rawText\n  .replace(/\\r\\n|\\r|\\n/g, \"\\\\n\")  // transforma ENTER real em string literal \\n\n  .replace(/\"/g, \"'\");            // troca aspas duplas por simples pra não quebrar JSON\n\nreturn [\n  {\n    json: {\n      formatted_text: cleanText\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7120,
        1088
      ],
      "id": "f0ac3fbc-7814-4248-89f2-2b04dd82fb03",
      "name": "Code1"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $json.data.video_id }}{{ $json.data.id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "x-api-key"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        8448,
        1088
      ],
      "id": "07767134-a408-4865-b828-b6c4e02c17bc",
      "name": "Pegar vídeo"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7792,
        1088
      ],
      "id": "76186b01-660a-4ad3-8b0e-f71acb2f704a",
      "name": "Wait1",
      "webhookId": "fe2bda93-30a9-4ae3-aed3-02aea5788261"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9192ea5-87e6-4d85-8b2f-bd5ef62d8633",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        8672,
        1088
      ],
      "id": "02351f52-e1a9-4bc7-9b89-e05908aecfd8",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3cd3b62-1d6b-49a8-8a3c-0f35cf084106",
              "name": "resposta",
              "value": "={{ $json.data.video_url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "95b4c3bb-2543-4c6f-a7a8-d1dadbdd11cb",
      "name": "Dados de Saída1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        8896,
        1072
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://automaster1243.uazapi.com/send/text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "token"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "={{ $('Variáveis1').item.json.message.sender }}"
            },
            {
              "name": "text",
              "value": "={{ $json.resposta }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        9104,
        1072
      ],
      "id": "e451bdd5-8b5e-4320-bd43-f704d4a5b4eb",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        7984,
        1088
      ],
      "id": "55b32bf2-2384-4742-9110-1fe65437ea6b",
      "name": "Wait6",
      "webhookId": "d777795c-6eb0-4007-9a1e-bcb0fd09ba85"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        8208,
        1088
      ],
      "id": "4ca56c5c-b612-4282-8002-1efc671ec0c5",
      "name": "Wait7",
      "webhookId": "a1e64006-d162-47e3-a9fd-448d9941695d"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e4acbba-1412-4f3c-9026-f9f5029b658e",
              "name": "text",
              "value": "={{ $json.message.content }}{{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5808,
        1088
      ],
      "id": "6e4425fc-ee6e-4e9e-b22d-98db99a2a9a0",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "databaseId": 260355,
        "tableId": 613827,
        "additionalOptions": {
          "filters": {
            "fields": [
              {
                "field": 4985649,
                "value": "={{ $('Variáveis1').item.json.message.sender }}"
              }
            ]
          }
        }
      },
      "id": "180dd324-edc6-4a2e-b6c7-d48d5da8c9ba",
      "name": "Baserow - Get User1",
      "type": "n8n-nodes-base.baserow",
      "typeVersion": 1,
      "position": [
        6048,
        1088
      ],
      "alwaysOutputData": true,
      "credentials": {
        "baserowApi": {
          "id": "iZsWnIRQuA4IGK8r",
          "name": "Brendon baserow"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "319b85da-4923-49b6-8fc7-87b579ed754c",
              "leftValue": "={{ $('Variáveis1').item.json.message.sender }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b90da748-3355-4fd3-b733-6ffd6358b49f",
      "name": "Verifica se o usuário existe1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        6272,
        1088
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d9756b35-8373-43ce-951e-593a76c2205d",
              "name": "ID do avatar",
              "value": "={{ $('Baserow - Get User1').item.json['ID do avatar'] }}",
              "type": "string"
            },
            {
              "id": "16845b93-d5ad-4447-84de-d67fe85fb677",
              "name": "ID da voz",
              "value": "={{ $('Baserow - Get User1').item.json['ID da voz'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        6544,
        1088
      ],
      "id": "39e0a6b0-f35e-4de2-9fc4-9c4f26a41343",
      "name": "IDs"
    },
    {
      "parameters": {
        "jsCode": "const avatarId = $('IDs').first().json['ID do avatar'] || '';\nconst voiceId = $('IDs').first().json['ID da voz'] || '';\n\nreturn [\n  {\n    json: {\n      formatted_avatar_id: avatarId.trim(),\n      formatted_voice_id: voiceId.trim()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7312,
        1088
      ],
      "id": "dfc3ef4e-e738-45af-a301-fdc2911af638",
      "name": "Code2"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cf4a7bce-2fd7-43d7-be78-72d9b9957823",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        4464,
        1104
      ],
      "id": "bdca0773-f9f8-4ec6-90da-825a4304a1c6",
      "name": "Webhook",
      "webhookId": "cf4a7bce-2fd7-43d7-be78-72d9b9957823"
    }
  ],
  "pinData": {},
  "connections": {
    "Receptor de link audio1": {
      "main": [
        [
          {
            "node": "Enviar audio p/ transcritor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar audio p/ transcritor1": {
      "main": [
        [
          {
            "node": "Transcritor audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcritor audio1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Receptor de link audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Variáveis1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gerar vídeos": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Avatars": {
      "main": [
        [
          {
            "node": "Pegar Vozes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar Vozes": {
      "main": [
        []
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pegar vídeo": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Dados de Saída1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados de Saída1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait6": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Pegar vídeo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Baserow - Get User1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baserow - Get User1": {
      "main": [
        [
          {
            "node": "Verifica se o usuário existe1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se o usuário existe1": {
      "main": [
        [
          {
            "node": "IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IDs": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Gerar vídeos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Variáveis1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5461b605-a7f9-40cb-a0e4-3eefe681ab2b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98a7f76cbff973591af08e09b5be2fed14b55b37d878782c0638229a94477203"
  },
  "id": "s15eEk4QGzdY7OYl",
  "tags": []
}